<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <!-- server for publishing API artifact on Exchange -->
    <server>
      <id>Repository</id> <!-- make sure this matches the serverId property in pom.xml -->
      <username>~~~Client~~~</username>
      <password>${client.id}~?~${client.secret}</password> <!-- these come from the build.yml and your github secrets -->
    </server>

    <!-- server for consuming mvn artifact -->
    <server>
      <id>github-mule-parent-pom</id> <!-- Doit correspondre à celui dans <distributionManagement> -->
      <username>${git.username}</username>
      <password>${pat.token}</password>
    </server>
    <!-- server for publishing API artifact on github -->
    <server>
      <id>github-mule-assets</id> <!-- Doit correspondre à celui dans <distributionManagement> -->
      <username>${git.username}</username>
      <password>${pat.token}</password>
    </server>
  </servers>

</settings>