<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <!-- server for publishing API artifact on Exchange -->
    <server>
      <id>Repository</id>
      <username>~~~Client~~~</username>
      <password>${client.id}~?~${client.secret}</password>
    </server>

    <!-- server for consuming parent-pom artifact -->
    <server>
      <id>github-mule-parent-pom</id>
      <username>${git.username}</username>
      <password>${pat.token}</password>
    </server>

    <!-- server for publishing API artifact on github -->
    <server>
      <id>github-mule-assets</id>
      <username>${git.username}</username>
      <password>${pat.token}</password>
    </server>
  </servers>

</settings>